{%extends 'base.html'%}
{%block content%}
<!--welcome-hero start -->
<section id="home" class="welcome-hero">


    <div class="container">
        <div class="welcome-hero-txt">
            <h2>add a car</h2>

        </div>
    </div>

</section><!--/.welcome-hero-->
<!--welcome-hero end -->
<section class="brand">
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <h1 class="display-4 text-uppercase text-center mb-5">add a car</h1>
            <div class="row">
                <div class="col-lg-7 mb-2">
                    <div class="contact-form bg-light mb-4" style="padding: 30px;">
                        <form action="/cars/create" method="post">

                            <div class="row">
                                <div class="col-6 form-group">

                                    <input type="text" class="form-control p-4" name="model" placeholder="Car model"
                                        required="required">
                                </div>
                                <div class="col-6 form-group">
                                    <input type="text" class="form-control p-4" name="make" placeholder="Car make"
                                        required="required">
                                </div>
                                <div class="col-6 form-group">
                                    <input type="number" class="form-control p-4" name="year" placeholder="Car year"
                                        required="required">
                                </div>
                                <div class="col-6 form-group">
                                    <input type="number" class="form-control p-4" name="price" placeholder="Car price"
                                        required="required">
                                </div>
                                <div class="col-6 form-group">

                                    <select class="form-control" aria-label="Small example" id="car_condition"
                                        name="car_condition">
                                        <option selected value="Good">Good</option>
                                        <option selected value="Medium">Medium</option>
                                        <option selected value="Bad">Bad</option>
                                    </select>
                                </div>
                            </div>


                            <input type="submit" value="Add Car" class="btn btn-primary py-3 px-5">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>
{% endblock %}