{%extends 'base.html'%}
{%block content%}

<section id="home" class="welcome-hero">


    <div class="container">
        <div class="welcome-hero-txt">
            <h2>agency cars</h2>

        </div>
    </div>

</section>

<section class="brand">


    <div class="container mt-3">
        <div class="d-flex justify-content-between align-items-center">
            <h5>OUR CARS</h5>
            <div class="" style="margin-left: 950px; justify-content: space-around;
            display: flex;">
                <button class="btn btn-primary btn-block text-nowrap" onclick="window.location.href='/booking'">
                    Booking
                </button>
            </div>
        </div>
    </div>
    <div class="container-fluid pt-5">
        <div class="container pt-5 pb-3">
            <h1 class="display-4 text-uppercase text-center mb-5">Find Your Car</h1>
            <br>
            <div class="row">
                <div class="col-lg-4 col-md-8 mb-2">
                    <div class="rent-item mb-4">
                        <img class="" src="../static/images/888371.jpg" alt="">
                        <h4 class="text-uppercase mb-4">Kia</h4>
                        <div class="d-flex justify-content-center mb-4">
                            <div class="px-2">
                                <i class="fa fa-car text-primary mr-1"></i>
                                <span>2016</span>
                            </div>
                            <div class="px-2 border-left border-right">
                                <i class="fa fa-cogs text-primary mr-1"></i>
                                <span>AUTO</span>
                            </div>
                            <div class="px-2">
                                <i class="fa fa-road text-primary mr-1"></i>
                                <span>25K</span>
                            </div>
                        </div>
                        <a class="btn btn-primary px-3" href="/booking/13/4">DT 99.00/Day</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 mb-2">
                    <div class="rent-item mb-4">
                        <img class="" src="../static/images/images_1.jpg" style="width: 500px;" alt="">
                        <h4 class="text-uppercase mb-4">Kia</h4>
                        <div class="d-flex justify-content-center mb-4">
                            <div class="px-2">
                                <i class="fa fa-car text-primary mr-1"></i>
                                <span>2016</span>
                            </div>
                            <div class="px-2 border-left border-right">
                                <i class="fa fa-cogs text-primary mr-1"></i>
                                <span>AUTO</span>
                            </div>
                            <div class="px-2">
                                <i class="fa fa-road text-primary mr-1"></i>
                                <span>25K</span>
                            </div>
                        </div>
                        <a class="btn btn-primary px-3" href="/booking/7/4">DT 99.00/Day</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 mb-2">
                    <div class="rent-item mb-4">
                        <img class="" src="../static/images/images.jpg" style="width: 600px; margin-top: 50px;" alt="">
                        <h4 class="text-uppercase mb-4">Kia</h4>
                        <div class="d-flex justify-content-center mb-4">
                            <div class="px-2">
                                <i class="fa fa-car text-primary mr-1"></i>
                                <span>2016</span>
                            </div>
                            <div class="px-2 border-left border-right">
                                <i class="fa fa-cogs text-primary mr-1"></i>
                                <span>AUTO</span>
                            </div>
                            <div class="px-2">
                                <i class="fa fa-road text-primary mr-1"></i>
                                <span>25K</span>
                            </div>
                        </div>
                        <a class="btn btn-primary px-3" href="/booking/8/3">DT 99.00/Day</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="rent-item mb-4">
                        <img class="img-fluid mb-4" src="../static/images/6.jpg" style="width: 700px;" alt="">
                        <h4 class="text-uppercase mb-4" style="margin-top: 50px;">Kia</h4>
                        <div class="d-flex justify-content-center mb-4">
                            <div class="px-2">
                                <i class="fa fa-car text-primary mr-1"></i>
                                <span>2016</span>
                            </div>
                            <div class="px-2 border-left border-right">
                                <i class="fa fa-cogs text-primary mr-1"></i>
                                <span>AUTO</span>
                            </div>
                            <div class="px-2">
                                <i class="fa fa-road text-primary mr-1"></i>
                                <span>25K</span>
                            </div>
                        </div>
                        <a class="btn btn-primary px-3" href="/booking">DT 99.00/Day</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="rent-item mb-4">
                        <img class="img-fluid mb-4" src="../static/images/4.jpg" style="width: 600px;" alt="">
                        <h4 class="text-uppercase mb-4">Kia </h4>
                        <div class="d-flex justify-content-center mb-4">
                            <div class="px-2">
                                <i class="fa fa-car text-primary mr-1"></i>
                                <span>2016</span>
                            </div>
                            <div class="px-2 border-left border-right">
                                <i class="fa fa-cogs text-primary mr-1"></i>
                                <span>AUTO</span>
                            </div>
                            <div class="px-2">
                                <i class="fa fa-road text-primary mr-1"></i>
                                <span>25K</span>
                            </div>
                        </div>
                        <a class="btn btn-primary px-3" href="/booking">DT 99.00/Day</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="rent-item mb-4">
                        <img class="img-fluid mb-4" src="../static/images/2.jpg" style="width: 700px; margin-top: 50px;"
                            alt="">
                        <h4 class="text-uppercase mb-4" style="margin-top: 25px;">Kia</h4>
                        <div class="d-flex justify-content-center mb-4">
                            <div class="px-2">
                                <i class="fa fa-car text-primary mr-1"></i>
                                <span>2016</span>
                            </div>
                            <div class="px-2 border-left border-right">
                                <i class="fa fa-cogs text-primary mr-1"></i>
                                <span>AUTO</span>
                            </div>
                            <div class="px-2">
                                <i class="fa fa-road text-primary mr-1"></i>
                                <span>25K</span>
                            </div>
                        </div>
                        <a class="btn btn-primary px-3" href="/booking">DT 99.00/Day</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section><!--/brand-->
<!--brand end -->

<!--blog start -->
<section id="blog" class="blog"></section><!--/.blog-->



{% endblock %}