<!doctype html>
<html class="no-js" lang="en">

<head>
    <!-- meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!--font-family-->
    <link
        href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Rufina:400,700" rel="stylesheet">

    <!-- title of site -->
    <title>ECKRINI</title>

    <!-- For favicon png -->

    <link rel="shortcut icon" type="image/icon" href="{{ url_for('static',filename='logo/EKRINI.webp') }}">
    <!--font-awesome.min.css-->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/font-awesome.min.css') }}">
    <!--linear icon css-->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/linearicons.css') }}">
    <!--flaticon.css-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/flaticon.css') }}">
    <!--animate.css-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/animate.css') }}">

    <!--owl.carousel.css-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/owl.theme.default.min.css')}}">

    <!--bootstrap.min.css-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">

    <!-- bootsnav -->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootsnav.css') }}">
    <!--style.css-->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <!--responsive.css-->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/responsive.css') }}">








    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

    <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

</head>

<body>    
    {% if  userconnect.role=='agency' %}
    <!-- top-area Start -->
    <div class="top-area">
        <div class="header-area">
            <!-- Start Navigation -->
            <nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy" data-minus-value-desktop="70"
                data-minus-value-mobile="55" data-speed="1000">

                <div class="container">

                    <!-- Start Header Navigation -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                            <i class="fa fa-bars"></i>
                        </button>
                        <img style="width: 100px; margin-top: 10px;" src="{{url_for('static',filename='images/EKRINI.webp')}}" alt="EKRINI" />
                        <!-- <a class="navbar-brand" href="index.html">ECKRINI<span></span></a> -->

                    </div><!--/.navbar-header-->
                    <!-- End Header Navigation -->

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
                        <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                            <li class="btn_1 d-none d-md-block"><a href="/">home</a></li>
                            <li><a href="/agency_cars">Our cars</a></li>
                            <!-- <li class="scroll"><a href="#featured-cars">featured cars</a></li> -->
                            <!-- <li class="scroll"><a href="#brand">brands</a></li> -->
                            {%if not session['user_id'] %}
                            <li><a href="/contact">contact</a></li>
                            {%else%}
                            <li><a href="/dashboard_agency" class="btn_1 d-none d-md-block">Dashboard Agent</a></li>
                            {%endif%}
                            {%if not session['user_id'] %}
                            <li><a href="/login" class="btn_1 d-none d-md-block">Login</a></li>
                            {%else%}
                            <li><a href="/new/car" class="btn_1 d-none d-md-block">add a car for rent </a></li>
                            
                            {%endif%}

                        </ul><!--/.nav -->
                    </div><!-- /.navbar-collapse -->
                </div><!--/.container-->
            </nav><!--/nav-->
            <!-- End Navigation -->
        </div><!--/.header-area-->
        
        <div class="clearfix"></div>

    </div><!-- /.top-area-->
    {% else %}
        <!-- top-area Start -->
    <div class="top-area">
        <div class="header-area">
            <!-- Start Navigation -->
            <nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy" data-minus-value-desktop="70"
                data-minus-value-mobile="55" data-speed="1000">

                <div class="container">

                    <!-- Start Header Navigation -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                            <i class="fa fa-bars"></i>
                        </button>
                        <img style="width: 100px; margin-top: 10px;" src="{{url_for('static',filename='images/EKRINI.webp')}}" alt="logo" />
                        <!-- <a class="navbar-brand" href="index.html">ECKRINI<span></span></a> -->

                    </div><!--/.navbar-header-->
                    <!-- End Header Navigation -->

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
                        <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="btn_1 d-none d-md-block"><a href="/">Home</a></li>

                            <!-- <li><a href="/agency_cars">Booking</a></li> -->
                            <!-- <li class="scroll"><a href="#brand">brands</a></li> -->
                            {%if not session['user_id'] %}
                            {%else%} 
                            <li><a hrfe="/contact">contact agency</a></li>

                            {%endif%}
                            <li><a href="/dashboard_client" class="btn_1 d-none d-md-block">Dashboard Client</a></li>
                            <li><a href="/agency_cars">rent a car</a></li>
                            
                            {%if not session['user_id'] %}
                            <li><a href="/login" class="btn_1 d-none d-md-block">Login</a></li>
                            

                            {%endif%}

                        </ul><!--/.nav -->
                    </div><!-- /.navbar-collapse -->
                </div><!--/.container-->
            </nav><!--/nav-->
            <!-- End Navigation -->
        </div><!--/.header-area-->
        
        <div class="clearfix"></div>

    </div><!-- /.top-area-->
    {% endif %}
    <!-- top-area End -->
    {% block content %}
    {% endblock %}
    <footer id="contact" class="contact">
        <div class="container">
            <div class="footer-top">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="single-footer-widget">
                            <div class="footer-logo">
                                <a href="index.html">ECKRINI</a>
                            </div>

                            <div class="footer-contact">
                                <br>
                                <p>info@ECKRINI.com</p>
                                <br>
                                <p> (+216) 25631545</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <div class="single-footer-widget">
                            <h2>about ECKRINI</h2>
                            <ul>
                                <li><a>about us</a></li>
                                <li><a>career</a></li>
                                <li><a>terms <span> of service</span></a></li>
                                <li><a>privacy policy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-12">
                        <div class="single-footer-widget">
                            <h2>top brands</h2>
                            <div class="row">
                                <div class="col-md-7 col-xs-6">
                                    <ul>
                                        <li><a>BMW</a></li>
                                        <li><a>lamborghini</a></li>
                                        <li><a>camaro</a></li>
                                        <li><a>audi</a></li>
                                        <li><a>infiniti</a></li>
                                        <li><a>nissan</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-5 col-xs-6">
                                    <ul>
                                        <li><a>ferrari</a></li>
                                        <li><a>porsche</a></li>
                                        <li><a>land rover</a></li>
                                        <li><a>aston martin</a></li>
                                        <li><a>mercedes</a></li>
                                        <li><a>opel</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-offset-1 col-md-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h2>news letter</h2>
                            <div class="footer-newsletter">
                                <p>
                                    Subscribe to get latest news update and informations
                                </p>
                            </div>
                            <div class="hm-foot-email">
                                <div class="foot-email-box">
                                    <input type="text" class="form-control" placeholder="Add Email">
                                </div><!--/.foot-email-box-->
                                <div class="foot-email-subscribe">
                                    <span><i class="fa fa-arrow-right"></i></span>
                                </div><!--/.foot-email-icon-->
                            </div><!--/.hm-foot-email-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="row">
                    <div class="col-sm-6">
                        <p>
                            <a href="https://www.themesine.com/"></a>
                        </p><!--/p-->
                    </div>
                    <div class="col-sm-6">
                        <div class="footer-social">
                            <a><i class="fa fa-facebook"></i></a>
                            <a><i class="fa fa-instagram"></i></a>
                            <a><i class="fa fa-linkedin"></i></a>
                            <a><i class="fa fa-pinterest-p"></i></a>
                            <a><i class="fa fa-behance"></i></a>
                        </div>
                    </div>
                </div>
            </div><!--/.footer-copyright-->
        </div><!--/.container-->

        <div id="scroll-Top">
            <div class="return-to-top">
                <i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title=""
                    data-original-title="Back to Top" aria-hidden="true"></i>
            </div>

        </div><!--/.scroll-Top-->

    </footer><!--/.contact-->
    <!--contact end-->



    <!-- Include all js compiled plugins (below), or include individual files as needed -->

    <script src="{{url_for('static', filename='js/jquery.js')}} "></script>

    <!--modernizr.min.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

    <!--bootstrap.min.js-->
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>

    <!-- bootsnav js -->
    <script src="{{url_for('static', filename='js/bootsnav.js')}}"></script>

    <!--owl.carousel.js-->
    <script src="{{url_for('static', filename='js/owl.carousel.min.js')}}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

    <!--Custom JS-->
    <script src="{{url_for('static' , filename='js/custom.js')}}"></script>

</body>

</html>